* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: black;
  --text-color: black;
  --second-color: black;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(36, 36, 138);
  background-size: cover;
  background-position: center;
  display: grid;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease 0.4s;
}

.navbar a:hover {
  background-color: rgb(118, 113, 113);
  color: var(--text-color);
  box-shadow: 5px 10px 30px white 20%;
  border-radius: 4px;
}
.logo {
  color: black;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 20px;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: rgb(237, 233, 226);
}

#menu-icon {
  color: black;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 80px 18%;
  position: left;
  text-align: left;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
}

.home-text h1 {
  font-size: 30px;
  line-height: 1.2;
  color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  margin: bottom 30px;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: rgb(118, 113, 113);
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid grey;
}

.contact-inputs:placeholder {
  color: grey;
}

.contact-left button {
  display: flex;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: black;
  gap: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .contact-inputs {
    width: 80vw;
  }
  .contact-right {
    display: none;
  }
}
